In [ ]:
1.Write an SQL query to show only odd rows from aÂ table.

Select * from Employees
where  ID%2 <> 0;

In [ ]:
2.Write an SQL query to clone a new table from another table.

INSERT INTO newTable (col1, col2, col3)
SELECT column1, column2, column3
FROM oldTable