1.Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

SELECT LEFT(FIRST_NAME,3)
FROM Worker;
    
    or

SELECT SUBSTRING(FIRST_NAME,1,3)
FROM Worker ;

2.Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

SELECT POSITION("a" IN "Amitabh") 
FROM Worker;

3.Write an SQL query to print the name of employees having the highest salary in each
department.

SELECT DepartmentName, MAX(Salary) 
FROM employee.e RIGHT JOIN Department.d ON e.DepartmentId = d.DepartmentID 
GROUP BY DepartmentName